In [1]:
import django
import os

INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'lotto',
    'plusfriend',
]

SECRET_KEY = 'askdjango'    # 임의 문자열
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'OPTIONS': {
            'read_default_file': '/etc/mysql/my.cnf',
        },
        #'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

ROOT_URLCONF = '__main__'

urls = []

os.environ['DJANGO_SETTINGS_MODULE'] = '__main__'

django.setup()

In [2]:
# band별 최근횟수 번호들의 count를 구하고, 제외번호를 뽑음
def analysis(df_band, time_index, band=3):
    df_band = df_band.sort_values(by='shotDate', ascending=False)  # 날짜를 기준으로 내림차순으로 정렬

    #1부터 45까지의 배열을 생성하고 0으로 초기화
    lottoarray = [0 for i in range(0,46)]
    df_list = df_band[(df_band['band'] == band)]
    df_list = df_list.reset_index()
    results = df_list.loc[0:time_index,['one','two','three','four','five','six']]

    for index, row in results.iterrows():
        for i in range(6):
            k = row[i]
            count = lottoarray[k]
            lottoarray[k] = count + 1

    return (lottoarray)

In [3]:
import pandas as pd
from lotto.models import DecidedNumbers

origin_nums = list()
except_nums = list()
band=3
time_index = 50  # band=3 최근 50회중 나오지 않는 번호는 제외
df_band = pd.DataFrame(list(DecidedNumbers.objects.values('count','one','two','three','four','five','six','shotDate','total', 'band')))
nums = analysis(df_band, time_index, band)

for j in range(1,46):
    if nums[j] != 0:
        origin_nums.append(j)
    else:
        except_nums.append(j)

In [4]:
print ('nums',nums)

nums [0, 6, 9, 9, 7, 7, 7, 10, 7, 7, 9, 13, 6, 8, 10, 12, 13, 5, 10, 4, 3, 6, 4, 8, 11, 2, 6, 8, 6, 8, 5, 7, 4, 9, 5, 5, 6, 6, 6, 5, 7, 4, 3, 5, 3, 5]

In [5]:
print ('except_nums',except_nums)
print ('origin_nums', origin_nums)

except_nums []
origin_nums [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [6]:
print ('df_band',df_band)

df_band      band  count  five  four  one    shotDate  six  three  total  two
0       3      1    37    33   10  2002-12-07   40     29    172   23
1       5      2    32    25    9  2002-12-14   42     21    142   13
2       3      3    27    21   11  2002-12-21   31     19    125   16
3       4      4    40    31   14  2002-12-28   42     30    184   27
4       4      5    41    40   16  2003-01-04   42     29    192   24
5       4      6    40    27   14  2003-01-11   42     26    164   15
6       4      7    26    25    2  2003-01-18   40     16    118    9
7       4      8    37    34    8  2003-01-25   39     25    162   19
8       3      9    36    17    2  2003-02-01   39     16    114    4
9       4     10    41    33    9  2003-02-08   44     30    182   25
10      3     11    41    37    1  2003-02-15   42     36    164    7
11      5     12    39    25    2  2003-02-22   45     21    143   11
12      3     13    38    37   22  2003-03-01   42     25    187   23
13      3     14    33    31    2  2003-03-08   40     12    124    6
14      4     15    31    30    3  2003-03-15   37     16    121    4
15      3     16    38    37    6  2003-03-22   40     24    152    7
16      3     17    32    17    3  2003-03-29   37      9    102    4
17      3     18    32    19    3  2003-04-05   35     13    114   12
18      4     19    40    39    6  2003-04-12   43     38    196   30
19      3     20    23    20   10  2003-04-19   30     18    115   14
20      3     21    31    18    6  2003-04-26   32     17    116   12
21      3     22    17     8    4  2003-05-03   39      6     79    5
22      4     23    33    18    5  2003-05-10   42     17    128   13
23      4     24    36    29    7  2003-05-17   43     27    150    8
24      3     25    43    26    2  2003-05-24   44     21    140    4
25      3     26    20    18    4  2003-05-31   25      7     79    5
26      5     27    37    28    1  2003-06-07   43     26    155   20
27      4     28    35    25    9  2003-06-14   37     23    147   18
28      3     29    39    34    1  2003-06-21   40     13    132    5
29      4     30    36    35    8  2003-06-28   44     20    160   17
..    ...    ...   ...   ...  ...         ...  ...    ...    ...  ...
756     4    757    33    17    6  2017-06-03   44     11    118    7
757     5    758    39    30    5  2017-06-10   43     12    138    9
758     3    759    42    40    9  2017-06-17   43     36    203   33
759     4    760    42    31   10  2017-06-24   43     27    175   22
760     4    761    42    24    4  2017-07-01   45     11    133    7
761     4    762    26    21    1  2017-07-08   41     12    104    3
762     4    763    34    32    3  2017-07-15   43     16    136    8
763     3    764    34    31    7  2017-07-22   36     24    154   22
764     3    765    42    12    1  2017-07-29   43      8    109    3
765     4    766    39    35    9  2017-08-05   41     34    188   30
766     4    767    34    31    5  2017-08-12   42     20    147   15
767     4    768    38    30    7  2017-08-19   44     29    175   27
768     3    769    41    16    5  2017-08-26   45     11    125    7
769     5    770    39    23    1  2017-09-02   43     12    127    9
770     3    771    21    18    6  2017-09-09   29     17    101   10
771     4    772    21    14    5  2017-09-16   41     11     98    6
772     4    773    31    21    8  2017-09-23   35     19    126   12
773     4    774    34    28   12  2017-09-30   42     18    149   15
774     4    775    38    33   11  2017-10-07   42     29    165   12
775     4    776    28    21    8  2017-10-14   40     18    124    9
776     4    777    34    21    6  2017-10-21   37     17    127   12
777     4    778    37    36    6  2017-10-28   41     35    176   21
778     5    779    34    24    6  2017-11-04   41     19    136   12
779     3    780    27    21   15  2017-11-11   45     19    144   17
780     3    781    24    19   11  2017-11-18   39     18    127   16
781     4    782    38    34    6  2017-11-25   45     31    172   18
782     3    783    38    17   14  2017-12-02   45     16    145   15
783     3    784    31    24    3  2017-12-09   39     23    130   10
784     4    785    26    25    4  2017-12-16   33     15    109    6
785     2    786    24    20   12  2017-12-23   30     16    117   15

[786 rows x 10 columns]